@{
    ViewBag.Title = "Skanowanie URL";
}

<h2>Skanowanie URL</h2>

<form action="/Scan/Index" method="post">
    <label for="url">URL do zeskanowania:</label><br>
    <input type="text" id="url" name="url"><br>
    <input type="submit" value="Skanuj">
</form>
