@model List<Person>
@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p>@currentYear</p>
@if(dayOfWeek == DayOfWeek.Sunday || dayOfWeek == DayOfWeek.Saturday)
{
    <p>It`s weekend</p>
}
else
{
    <p>It`s not weekend</p>
}
@switch(dayOfWeek)
{
    case DayOfWeek.Thursday:<p>it`s Thursday</p>
        break;
    default:
        <p>Its not Thursday</p>
        break;
}
<p>Test message</p>

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
</div>

@foreach(var person in Model)
{
    <p>@person.FirstName | @person.LastName </p>
}